html, body, div{
    margin: 0;
    padding: 0;
    font-size: 25px;
}

body {
    line-height: 1;
    margin:0;
    padding: 0 0;
}

.container{
    width: 99%;
    margin: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.column-1{
    width: 50%;
    float: left;
}

.column-2{
    width: 50%;
    float: left;
}

.column-3,.column-4,.column-5{
    width: 33%;
    float: left;
}

.column-5{
    width: 34%;
}

.column-6{
    width: 100%;
    float: left;
}

.span-1,.span-3,.span-5,.span-7,.span-9,.span-11{
    border: 2px solid blue;
    padding: 20px;
    display: block;
    text-align: center;
}

.span-2,.span-4,.span-6,.span-8,.span-10,.span-12{
    border: 2px solid blue;
    padding: 20px;
    display: block;
}